@import "fonts";

#bet-odds {
  position: relative;
  // z-index: 10;
  .container {
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .field-changed {
    color: #777777;
    font-weight: 700;
    display: block;
    padding: 10px 0;
    text-align: center;
  }
  .bet-odds-content {
    .title h1 {
      font-family: titillium;
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0 30px;
      font-size: 36px;
      line-height: 43px;
    }
    .content {
      padding-bottom: 20px;
      .item:not(:first-child) {
        border-top: 1px solid #dedede;
        margin-top: 40px;
      }
      .item-category {
        border-bottom: 1px solid #dedede;
        display: block;
        padding: 10px 0;
        font-family: titillium;
        font-weight: 700;
        line-height: 20px;
        a {
          color: #eb6a14;
        }
        a:hover {
          color: #2caaa6;
        }
      }
      .item-changed {
        float: right;
        margin-top: -39px;
        overflow: hidden;
        font-size: 12px;
        line-height: 17px;
      }
      .item-title {
        font-size: 2.14286em;
        text-align: center;
        padding: 10px 0;
        font-family: oregon;
        line-height: 43px;
      }
      .item-fieldset {
        // text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        .view-field {
          text-align: center;
          display: inline-block;
          padding: 0 10px;
        }
        .view-label {
          color: #121212;
          display: block;
          margin-bottom: 3px;
          text-transform: uppercase;
          line-height: 20px;
        }
        .field-content {
          background-color: #eb6a14;
          color: #fff;
          font-size: 1.14286em;
          font-weight: 700;
          line-height: 23px;
          padding: 5px 10px;
        }
      }
      .item-body {
        line-height: 20px;
        margin-bottom: 15px;
      }
      .item-uid {
        line-height: 20px;
        a {
          color: #000;
        }
        a:hover {
          color: #eb6a14;
        }
      }
      .pager {
        border-top: 1px solid #dedede;
        font-size: 0.92857em;
        margin: 15px 15px 10px 15px;
        padding-top: 25px;
        text-align: right;
        width: 100%;
      }
      .pager-items {
        display: block;
        padding-left: 0;
        //   text-align: right;
        .pager-item {
          display: inline-block;
          font-family: "Open Sans";
          margin-bottom: 10px;
          margin-left: 0;
          padding: 0;
          text-align: center;
          a {
            border: 1px solid #ddd;
            background-color: #fff;
            border-color: #e4dfdf;
            border-radius: 0;
            color: #333333;
            padding: 3px 10px;
          }
          a:hover {
            border: 1px solid #2caaa6;
            color: #2caaa6;
          }
        }
        .active {
          font-weight: bold;
          a {
            border: 1px solid #2caaa6;
            color: #2caaa6;
          }
        }
      }
    }
  }
  .bet-menu {
    background-color: #eb6a14;
  }
  .bet-item {
    border-bottom: 1px solid #dedede;
    i {
      font-size: 10px;
      color: #7c7c7c;
      margin-right: 10px;
      opacity: 0.8;
    }
    a {
      display: block;
      color: #121212;
      padding: 15px 10px 15px 0px;
      position: relative;
      line-height: 20px;
    }
    a:hover {
      color: #eb6a14;
      i {
        color: #eb6a14;
      }
    }
  }

  .match {
    border: 5px solid #eb6a14;
    margin-top: 10px;
    padding: 0 30px 30px;
    text-align: center;

    h2 {
      margin-bottom: 70px;
      margin-top: -15px;
      padding-left: 0;
      position: relative;
      width: 100%;
      background-color: #eb6a14;
      border: none;
      color: #fff;
      line-height: 1;

      font-family: "Roboto", sans-serif;
      font-size: 1.71429em;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      span {
        display: block;
        color: #fff;
        margin-top: 0;
        padding: 20px 29px 0;
      }
    }
    h2::before {
      border-color: #eb6a14 transparent;
      border-style: solid solid none;
      border-width: 30px 92px 0;
      bottom: -30px;
      content: "";
      display: inline-block;
      height: 0;
      left: 50%;
      margin-left: -90px;
      position: absolute;
      width: 0;
    }
    .match-title {
      font-family: oregon;
      font-size: 1.28571em;
      line-height: 26px;
      text-align: center;
      padding: 10px 0;
      a {
        color: #121212;
      }
      a:hover {
        color: #eb6a14;
      }
    }
    .match-changed {
      border-bottom: 1px solid #dedede;
      border-top: 1px solid #dedede;
      margin-bottom: 15px;
      font-size: 12px;
      line-height: 17px;
      span {
        display: inline-block;
        max-width: 50px;
      }
    }
    .match-body {
      line-height: 20px;
      margin-bottom: 10px;
    }
    .match-item:not(:first-child) {
      border-top: 1px solid #dedede;
      margin-top: 40px;
    }
  }

  .table {
    border-top: 1px solid #dedede;
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 0;
  }
  .result-table-premierLeague {
    background: #2caaa6;
    color: #fff;
    width: 100%;
  }
  .result-table-title th:first-child {
    font-family: oregon;
    font-size: 1.14286em;
    font-weight: 500;

    text-align: right;
    padding: 16px 5px;
    border-bottom: medium none;
  }
  .result-table-title th {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    text-align: right;
    padding: 16px 5px;
    border-bottom: medium none;
  }
  .result-table-title th:first-child,
  .result-table-body td:first-child {
    padding-left: 10px;
    text-align: left;
  }
  .result-table-title th:last-child {
    text-align: left;
    padding-right: 10px;
  }
  .result-table-premierLeague tbody tr:nth-child(odd) {
    background: #56bbb8;
  }
  .result-table-premierLeague tbody tr td {
    text-align: right;
    padding: 5px 5px;
    font-weight: 300;
    line-height: 20px;
  }
  .result-table-body td:first-child a {
    font-family: oregon;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #fff;
  }
  .result-table-premierLeague tbody tr td:last-child {
    text-align: left;
  }
  .result-table-premierLeague .result-table-club:hover a {
    color: #121212;
    text-decoration: none;
  }
}
