@import "fonts";
#contact {
  position: relative;
  // z-index: 10;
  .container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
  }
  .title {
    h1 {
      font-family: titillium;
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0 30px;
      font-size: 36px;
    }
  }
  .contact-infor {
    h3 {
      font-family: titillium;
      font-weight: 400;
      line-height: 1.2;
      margin: 0 0 30px;
      font-size: 24px;
      text-transform: uppercase;
    }
    p {
      margin-bottom: 15px;
      line-height: 20px;
    }
    ul {
      margin-bottom: 15px;
      list-style-type: disc;
      padding-inline-start: 40px;
      line-height: 20px;
      li {
        display: list-item;
        strong {
          font-weight: 700;
          background-color: none;
        }
        a {
          text-decoration: none;
          color: #121212;
        }
        a:hover {
          color: #eb6a14;
        }
      }
    }
  }
  .contact-input {
    .content {
      form div {
        margin-top: 1em;
        margin-bottom: 1em;
      }
      .label-required {
        font-weight: 100;
        line-height: 20px;
        margin-bottom: 5px;
      }
      .label-required::after {
        content: "";
        vertical-align: super;
        display: inline-block;
        background-image: url(../assets/images/contact/required.svg);
        background-repeat: no-repeat;
        background-size: 6px 6px;
        width: 6px;
        height: 6px;
        margin: 0 0.3em;
      }
      input {
        height: 30px;
        border-radius: 0;
      }
      textarea {
        border-radius: 0;
      }
      input:focus,
      textarea:focus {
        border: 2px solid #000;
        box-shadow: none;
        border-radius: 3px;
      }
      .btn-style {
        border-radius: 0;
        padding: 2px 10px;
        // height: 27px;
        font-size: 14px;
        font-weight: 100;
        text-transform: uppercase;
        line-height: 14px;
      }
      .btn-style:first-child {
        margin-right: 10px;
      }
      .btn-style:hover {
        opacity: 0.7;
      }
      .btn-send {
        color: #fff;
        background-color: #2caaa6;
        border-color: #2caaa6;
      }
      .btn-preview {
        color: #fff;
        background-color: #777777;
        border: none;
      }
    }
  }
}
