@import "fonts";

#livescore {
  position: relative;
  // z-index: 10;
  .container {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.region-livescore-title {
  h1 {
    font-family: titillium;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 30px;
    font-size: 36px;
  }
}
.region-livescore-table {
  margin-top: 30px;
  background: none;
  color: #fff;
  overflow-x: auto;
}
.livescore-table {
  width: 100%;
  background-color: #2caaa6;
}
.livescore-table tbody tr:nth-child(odd) {
  background-color: #56bbb8;
}

.view-field {
  padding: 6px 5px;
  text-align: right;
  font-weight: 300;
}
.view-field-time {
  line-height: 20px;
  padding-left: 15px;
  text-align: left;
}
.view-field-teama {
  font-family: oregon;
  font-size: 18px;
  line-height: 26px;
}
// .view-field-match-result {
// }
.view-field-teamb {
  font-family: oregon;
  font-size: 18px;
  line-height: 26px;
}
.view-field-category {
  padding-right: 15px;
  text-align: right;
  font-family: titillium;
  a {
    color: #fff;
  }
}

.field-changed {
  color: #777777;
  font-weight: 700;
  display: block;
  padding: 10px 0;
  text-align: center;
}
.match {
  border: 5px solid #eb6a14;
  margin-top: 10px;
  padding: 0 30px 30px;
  text-align: center;

  h2 {
    margin-bottom: 70px;
    margin-top: -15px;
    padding-left: 0;
    position: relative;
    width: 100%;
    background-color: #eb6a14;
    border: none;
    color: #fff;
    line-height: 1;

    font-family: "Roboto", sans-serif;
    font-size: 1.71429em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    span {
      display: block;
      color: #fff;
      margin-top: 0;
      padding: 20px 29px 0;
    }
  }
  h2::before {
    border-color: #eb6a14 transparent;
    border-style: solid solid none;
    border-width: 30px 92px 0;
    bottom: -30px;
    content: "";
    display: inline-block;
    height: 0;
    left: 50%;
    margin-left: -90px;
    position: absolute;
    width: 0;
  }
  .match-title {
    font-family: oregon;
    font-size: 1.28571em;
    line-height: 26px;
    text-align: center;
    padding: 10px 0;
    a {
      color: #121212;
    }
    a:hover {
      color: #eb6a14;
    }
  }
  .match-changed {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 17px;
    span {
      display: inline-block;
      max-width: 50px;
    }
  }
  .match-body {
    line-height: 20px;
    margin-bottom: 10px;
  }
  .match-item:not(:first-child) {
    border-top: 1px solid #dedede;
    margin-top: 40px;
  }
}
