/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
/* line 5, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: opensans;
  src: url(../assets/fonts/opensans-regular-webfont.woff2);
}
@font-face {
  font-family: oregon;
  src: url(../assets/fonts/oregon_ldo-webfont.woff);
}
@font-face {
  font-family: fontAwesome;
  src: url(../assets/fonts/fontawesome-webfont.woff2);
}
@font-face {
  font-family: titillium;
  src: url(../assets/fonts/titillium-regular-webfont.woff);
}
@font-face {
  font-family: rotobo;
  src: url(../assets/fonts/rotobo_font.woff2);
}
/* line 11, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 14, ../sass/screen.scss */
html {
  scroll-behavior: smooth;
}

/* line 17, ../sass/screen.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #ededed;
  color: #787878;
}

/* line 25, ../sass/screen.scss */
a,
a:hover {
  text-decoration: none;
}

@media (min-width: 576px) {
  /* line 40, ../sass/screen.scss */
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 45, ../sass/screen.scss */
  .container,
  .container-md,
  .container-sm {
    max-width: 750px !important;
  }
}
@media (min-width: 992px) {
  /* line 52, ../sass/screen.scss */
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 970px !important;
  }
}
@media (min-width: 1200px) {
  /* line 60, ../sass/screen.scss */
  .container {
    max-width: 1170px !important;
  }
}
@media (min-width: 1280px) {
  /* line 65, ../sass/screen.scss */
  .container {
    max-width: 1170px !important;
  }
}
/* line 78, ../sass/screen.scss */
.btn-viewfull a {
  background: #2caaa6;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  padding: 2px 8px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 91, ../sass/screen.scss */
.btn-viewfull:hover a {
  background: #eb6a14;
}

/* line 97, ../sass/screen.scss */
.changeSkin {
  position: fixed;
  left: -188px;
  top: 150px;
  z-index: 500;
  background-color: #fafafa;
  transition: all 0.5s ease-in-out;
}
/* line 105, ../sass/screen.scss */
.changeSkin .container {
  width: 185px;
  padding: 10px;
  height: 220px;
  font-family: opensans;
  color: #333333;
  font-size: 14px;
}
/* line 113, ../sass/screen.scss */
.changeSkin .container .skin-icon {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #fafafa;
  line-height: 1.6;
  text-align: center;
  color: #666;
  width: 41px;
  height: 41px;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  box-shadow: 1px 1px 2px -2px #888888;
  transition: all 0.3s ease-in-out;
}
/* line 130, ../sass/screen.scss */
.changeSkin .container .skin-icon i {
  font-size: 18px;
  line-height: 21px;
}
/* line 136, ../sass/screen.scss */
.changeSkin .container .skin-color {
  margin-bottom: 15px;
}
/* line 138, ../sass/screen.scss */
.changeSkin .container .skin-color strong {
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
}
/* line 143, ../sass/screen.scss */
.changeSkin .container .skin-color ul {
  margin: 0;
  padding: 0;
}
/* line 146, ../sass/screen.scss */
.changeSkin .container .skin-color ul li {
  list-style: none;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
}
/* line 151, ../sass/screen.scss */
.changeSkin .container .skin-color ul li a {
  display: inline-block;
  text-indent: -999em;
  width: 30px;
  height: 30px;
  position: relative;
  opacity: 0.7;
  transition: all 0.3s ease-in;
}
/* line 163, ../sass/screen.scss */
.changeSkin .container .layout {
  margin-bottom: 20px;
}
/* line 165, ../sass/screen.scss */
.changeSkin .container .layout strong {
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
}
/* line 170, ../sass/screen.scss */
.changeSkin .container .layout span {
  padding: 5px 18px 3px;
  margin: 0;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border: 1px solid #ccc;
}
/* line 180, ../sass/screen.scss */
.changeSkin .container .layout span:nth-child(1) {
  border-right: none;
}
/* line 183, ../sass/screen.scss */
.changeSkin .container .layout span:nth-child(2) {
  border-left: none;
}
/* line 186, ../sass/screen.scss */
.changeSkin .container .layout .active {
  background-color: #428bca;
  color: #fff;
}
/* line 191, ../sass/screen.scss */
.changeSkin .container .direction {
  display: block;
}
/* line 193, ../sass/screen.scss */
.changeSkin .container .direction strong {
  display: block;
  font-weight: 600;
}
/* line 197, ../sass/screen.scss */
.changeSkin .container .direction ul {
  padding: 0;
  margin: 0;
}
/* line 200, ../sass/screen.scss */
.changeSkin .container .direction ul li {
  list-style: none;
  display: inline-block;
}
/* line 203, ../sass/screen.scss */
.changeSkin .container .direction ul li a {
  display: block;
  padding: 5px 16px 3px;
  color: #333;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
  line-height: 1.42857;
  font-size: 14px;
}
/* line 213, ../sass/screen.scss */
.changeSkin .container .direction ul li.active a {
  background-color: #428bca;
  color: #fff;
}
/* line 219, ../sass/screen.scss */
.changeSkin .container .color-default {
  background-color: #0098aa;
}

/* line 224, ../sass/screen.scss */
.show-change-skin {
  left: 0;
}

/* line 228, ../sass/screen.scss */
#page {
  transition: all 0.5s ease-in-out;
}

/* line 231, ../sass/screen.scss */
.openMenu {
  transform: translate(-250px, 0px);
}

/* line 234, ../sass/screen.scss */
.show {
  display: block !important;
}

/* line 237, ../sass/screen.scss */
#btn-close {
  display: none;
  position: fixed;
  top: 2px;
  right: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
  z-index: 1000;
}

/* line 248, ../sass/screen.scss */
#btn-close::before {
  content: "\f057";
  font-family: fontawesome;
  opacity: 1;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(0, 20%);
  font-size: 50px;
  color: #fff;
}

/* line 259, ../sass/screen.scss */
#over {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

/* line 270, ../sass/screen.scss */
nav.sports-menu-mobile,
nav.menu-mobile {
  background: #333;
  display: none;
  height: 100%;
  width: 250px;
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  right: -250px;
  top: 0;
  z-index: 1000;
}
/* line 284, ../sass/screen.scss */
nav.sports-menu-mobile .container-fluid,
nav.menu-mobile .container-fluid {
  padding: 0;
}
/* line 287, ../sass/screen.scss */
nav.sports-menu-mobile .sports-menu-mobile-item,
nav.sports-menu-mobile .menu-mobile-item,
nav.menu-mobile .sports-menu-mobile-item,
nav.menu-mobile .menu-mobile-item {
  text-align: left;
  display: block;
  float: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 295, ../sass/screen.scss */
nav.sports-menu-mobile .sports-menu-mobile-item a,
nav.sports-menu-mobile .menu-mobile-item a,
nav.menu-mobile .sports-menu-mobile-item a,
nav.menu-mobile .menu-mobile-item a {
  position: relative;
  display: block;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #ccc;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}
/* line 308, ../sass/screen.scss */
nav.sports-menu-mobile .sports-menu-mobile-item .submenu-mobile,
nav.sports-menu-mobile .menu-mobile-item .submenu-mobile,
nav.menu-mobile .sports-menu-mobile-item .submenu-mobile,
nav.menu-mobile .menu-mobile-item .submenu-mobile {
  display: none;
}
/* line 310, ../sass/screen.scss */
nav.sports-menu-mobile .sports-menu-mobile-item .submenu-mobile ul li a,
nav.sports-menu-mobile .menu-mobile-item .submenu-mobile ul li a,
nav.menu-mobile .sports-menu-mobile-item .submenu-mobile ul li a,
nav.menu-mobile .menu-mobile-item .submenu-mobile ul li a {
  padding-left: 30px;
  color: #ccc !important;
  background-color: #333;
}
/* line 317, ../sass/screen.scss */
nav.sports-menu-mobile .drop-menu a::after,
nav.menu-mobile .drop-menu a::after {
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 fontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -11px;
  font-size: 22px;
}
/* line 331, ../sass/screen.scss */
nav.sports-menu-mobile .active,
nav.menu-mobile .active {
  background-color: #1a1a1a;
}
/* line 333, ../sass/screen.scss */
nav.sports-menu-mobile .active a,
nav.menu-mobile .active a {
  color: #2caaa6;
}

/* line 340, ../sass/screen.scss */
#header .container {
  background: #050505;
}
/* line 343, ../sass/screen.scss */
#header .header-wrapper {
  padding: 25px 15px 39px;
}
/* line 346, ../sass/screen.scss */
#header .header-logo-block {
  text-align: left;
}
/* line 349, ../sass/screen.scss */
#header .header-logo-img {
  width: 180px;
  height: 41px;
}
/* line 353, ../sass/screen.scss */
#header .menubar-block {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}
/* line 359, ../sass/screen.scss */
#header .primary-menu {
  margin-right: 20px;
}
/* line 362, ../sass/screen.scss */
#header .primary-menu-item {
  display: inline-block;
  padding: 0 13px;
}
/* line 366, ../sass/screen.scss */
#header .primary-menu-item a {
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-family: oregon;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 19px;
}
/* line 377, ../sass/screen.scss */
#header .primary-menu-item a:hover {
  color: #2caaa6;
}
/* line 382, ../sass/screen.scss */
#header .active a {
  color: #2caaa6;
}
/* line 386, ../sass/screen.scss */
#header .header-menuicon {
  display: none !important;
}
/* line 389, ../sass/screen.scss */
#header .header-menuicon,
#header .header-login {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #2caaa6;
  margin-left: 10px;
}
/* line 398, ../sass/screen.scss */
#header .header-menuicon i,
#header .header-login i {
  font-size: 14px;
  color: #fff;
}
/* line 404, ../sass/screen.scss */
#header .header-search {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #2caaa6;
  position: relative;
}
/* line 411, ../sass/screen.scss */
#header .header-search::before {
  content: "\f002";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 5;
  color: #fff;
  transform: translate(50%, -50%);
  cursor: pointer;
}
/* line 424, ../sass/screen.scss */
#header .header-search:hover .header-search::before {
  display: none;
}
/* line 427, ../sass/screen.scss */
#header .header-search:hover .search {
  display: flex;
}
/* line 432, ../sass/screen.scss */
#header form.search {
  background-color: #2caaa6;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
/* line 439, ../sass/screen.scss */
#header .search-input {
  height: 30px !important;
  background-color: #eb6a14;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 200px;
  border: none;
  animation: widthUp 0.3s ease-in-out;
}
@keyframes widthUp {
  from {
    width: 0;
  }
  to {
    width: 200px;
  }
}
/* line 457, ../sass/screen.scss */
#header .search-input::placeholder {
  color: #fff;
  font-size: 13px;
  padding-left: 10px;
}
/* line 462, ../sass/screen.scss */
#header .search-input:focus::placeholder {
  color: transparent;
}
/* line 465, ../sass/screen.scss */
#header .search-submit {
  height: 30px;
  width: 30px;
  text-indent: -9999px;
  border: none !important;
  background-color: #eb6a14;
  position: relative;
}
/* line 473, ../sass/screen.scss */
#header .search-submit::before {
  content: "\f002";
  font-family: fontawesome;
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: 5;
  color: #fff;
  transform: translate(50%, -50%);
  cursor: pointer;
}
/* line 486, ../sass/screen.scss */
#header .header-login:hover {
  background-color: #eb6a14;
}
/* line 489, ../sass/screen.scss */
#header .header-login {
  position: relative;
  margin-right: 5px;
}
/* line 493, ../sass/screen.scss */
#header .login-block {
  padding: 10px 0;
  display: none;
  background-color: #050505;
  border-top: 5px solid #ec6a14;
  font-size: 0.92857em;
  min-width: 20em;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 600;
}
/* line 505, ../sass/screen.scss */
#header .region-user-login {
  padding: 0 20px 10px;
}
/* line 509, ../sass/screen.scss */
#header form.login-form {
  width: 100%;
}
/* line 512, ../sass/screen.scss */
#header .form-group {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
}
/* line 517, ../sass/screen.scss */
#header .form-group:nth-child(2) {
  margin-top: 25px;
}
/* line 520, ../sass/screen.scss */
#header .form-required {
  display: block;
  font-size: 13px;
  font-weight: 100;
  margin-bottom: 15px;
  color: #787878;
}
/* line 527, ../sass/screen.scss */
#header .form-required::after {
  content: "";
  vertical-align: super;
  display: inline-block;
  background-image: url(../assets/images/contact/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
}
/* line 538, ../sass/screen.scss */
#header input.login-username,
#header input.login-password {
  width: 100%;
  height: 30px;
}
/* line 543, ../sass/screen.scss */
#header input.login-submit {
  background-color: #777777;
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  line-height: 1;
  padding: 7px 15px;
  text-transform: uppercase;
}
/* line 553, ../sass/screen.scss */
#header input.login-submit:hover {
  background-color: #3d3d3d;
}
/* line 556, ../sass/screen.scss */
#header .login-options-list {
  text-align: left;
  margin-top: 20px;
}
/* line 559, ../sass/screen.scss */
#header .login-options-list ul {
  list-style-type: circle;
  margin-bottom: 0.75em;
}
/* line 562, ../sass/screen.scss */
#header .login-options-list ul li {
  display: list-item;
  margin: 0 0 0.25em 1.5em;
}
/* line 565, ../sass/screen.scss */
#header .login-options-list ul li a {
  color: #fff;
}
/* line 568, ../sass/screen.scss */
#header .login-options-list ul li a:hover {
  color: #eb6a14;
}

/* line 577, ../sass/screen.scss */
#sports-menu {
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 3;
}
/* line 582, ../sass/screen.scss */
#sports-menu .sports-menu-toggle {
  display: none;
}
/* line 585, ../sass/screen.scss */
#sports-menu .sports-menu {
  background-color: #eb6b24;
  margin: 0 15px;
}
/* line 589, ../sass/screen.scss */
#sports-menu .sports-menu-item {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
/* line 592, ../sass/screen.scss */
#sports-menu .sports-menu-item a {
  display: inline-block;
  padding: 7px 20px;
  font-family: oregon;
  font-weight: 700;
  line-height: 28px;
  text-transform: capitalize;
  color: #fff;
}
/* line 603, ../sass/screen.scss */
#sports-menu .sports-menu-item:last-child {
  border-right: none;
}
/* line 607, ../sass/screen.scss */
#sports-menu .sports-menu-item:hover a {
  text-decoration: none;
  background: #050505;
}
/* line 611, ../sass/screen.scss */
#sports-menu .sports-menu-item:hover .sports-submenu {
  display: block;
}
/* line 615, ../sass/screen.scss */
#sports-menu .drop::after {
  content: "\f078";
  display: inline-block;
  margin-left: 20px;
  margin-right: -5px;
  font-size: 12px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
/* line 627, ../sass/screen.scss */
#sports-menu .sports-submenu {
  background-color: #050505;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 14em;
  border: none;
}
/* line 636, ../sass/screen.scss */
#sports-menu .sports-submenu ul {
  padding: 5px 0;
}
/* line 639, ../sass/screen.scss */
#sports-menu .sports-submenu .sports-submenu-item {
  background-color: #050505;
  padding: 0 35px;
}
/* line 643, ../sass/screen.scss */
#sports-menu .sports-submenu .sports-submenu-item a {
  width: 100%;
  padding: 7px 0px;
  border-top: 1px solid #373737;
}
/* line 648, ../sass/screen.scss */
#sports-menu .sports-submenu .sports-submenu-item a:hover {
  color: #2caaa6;
  border-bottom: 1px solid #fff;
}
/* line 653, ../sass/screen.scss */
#sports-menu .sports-submenu .sports-submenu-item:first-child a {
  border-top: none;
}

/* line 661, ../sass/screen.scss */
#slideshow .slideshow-caption {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.2;
  font-family: oregon;
  width: 37%;
  transform: translate(0px, -50%);
  position: absolute;
  left: 155px;
  top: 50%;
}
/* line 672, ../sass/screen.scss */
#slideshow .slideshow-caption a {
  background: #fff;
  color: #121212;
  padding: 0 10px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
/* line 680, ../sass/screen.scss */
#slideshow .carousel-control-next,
#slideshow .carousel-control-prev {
  opacity: 1;
}
/* line 684, ../sass/screen.scss */
#slideshow .control-prev-icon,
#slideshow .control-next-icon {
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 50%;
  border-radius: 50%;
  display: block;
  font-size: 0em;
  height: 70px;
  width: 70px;
  opacity: 1;
  filter: alpha(opacity=100);
  position: absolute;
  top: 50%;
  margin-top: -20px;
  text-indent: -999em;
  text-shadow: none;
  transition: none;
}
/* line 705, ../sass/screen.scss */
#slideshow .control-prev-icon {
  left: 30px;
}
/* line 708, ../sass/screen.scss */
#slideshow .control-next-icon {
  right: 30px;
}
/* line 711, ../sass/screen.scss */
#slideshow .control-prev-icon:hover,
#slideshow .control-next-icon:hover {
  background-color: #ec6f1b;
}

/* line 719, ../sass/screen.scss */
#main .container {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 730, ../sass/screen.scss */
#main .content .content-region {
  background: #fff;
  padding: 20px;
  margin: -75px 40px 20px 0;
  position: relative;
}
/* line 736, ../sass/screen.scss */
#main .content .content-region .content-title {
  line-height: 1.1;
  margin-bottom: 10px;
}
/* line 739, ../sass/screen.scss */
#main .content .content-region .content-title a {
  color: #121212;
  outline: none;
  font-family: oregon;
  font-size: 24px;
}
/* line 745, ../sass/screen.scss */
#main .content .content-region .content-title a:hover {
  color: #eb6a14;
  text-decoration: none;
  cursor: pointer;
}
/* line 751, ../sass/screen.scss */
#main .content .content-region .content-body {
  color: #787878;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}
/* line 760, ../sass/screen.scss */
#main .updated {
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 763, ../sass/screen.scss */
#main .updated h2 {
  font-family: titillium;
  font-size: 1.71429em;
  line-height: 1;
  color: #121212;
  margin-bottom: 30px;
}
/* line 770, ../sass/screen.scss */
#main .updated .updated-item {
  margin-bottom: 20px;
  min-height: 295px;
}
/* line 774, ../sass/screen.scss */
#main .updated .updated-item-img {
  margin-bottom: 10px;
}
/* line 777, ../sass/screen.scss */
#main .updated .updated-item-title {
  min-height: 76.8px;
  margin-bottom: 10px;
}
/* line 780, ../sass/screen.scss */
#main .updated .updated-item-title a {
  color: #121212;
  font-weight: 400;
  font-size: 1.14286em;
  line-height: 1.2;
  font-family: oregon;
}
/* line 787, ../sass/screen.scss */
#main .updated .updated-item-title a:hover {
  color: #eb6a14;
  text-decoration: none;
  cursor: pointer;
}
/* line 793, ../sass/screen.scss */
#main .updated .updated-item-time {
  color: #eb6a14;
  display: block;
  font-size: 0.85714em;
  line-height: 17px;
  margin-bottom: 5px;
}
/* line 800, ../sass/screen.scss */
#main .updated .updated-item-body {
  font-weight: 300;
  line-height: 20px;
  color: #787878;
  margin-bottom: 15px;
}
/* line 810, ../sass/screen.scss */
#main .result-table-premierLeague {
  background: #2caaa6;
  color: #fff;
  width: 100%;
}
/* line 815, ../sass/screen.scss */
#main .result-table-title th:first-child {
  font-family: oregon;
  font-size: 1.14286em;
  font-weight: 500;
  text-align: right;
  padding: 16px 5px;
  border-bottom: medium none;
}
/* line 824, ../sass/screen.scss */
#main .result-table-title th {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
  padding: 16px 5px;
  border-bottom: medium none;
}
/* line 834, ../sass/screen.scss */
#main .result-table-title th:first-child,
#main .result-table-body td:first-child {
  padding-left: 10px;
  text-align: left;
}
/* line 839, ../sass/screen.scss */
#main .result-table-title th:last-child {
  text-align: left;
  padding-right: 10px;
}
/* line 843, ../sass/screen.scss */
#main .result-table-premierLeague tbody tr:nth-child(odd) {
  background: #56bbb8;
}
/* line 846, ../sass/screen.scss */
#main .result-table-premierLeague tbody tr td {
  text-align: right;
  padding: 5px 5px;
  font-weight: 300;
  line-height: 20px;
}
/* line 852, ../sass/screen.scss */
#main .result-table-body td:first-child a {
  font-family: oregon;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
}
/* line 859, ../sass/screen.scss */
#main .result-table-premierLeague tbody tr td:last-child {
  text-align: left;
}
/* line 862, ../sass/screen.scss */
#main .result-table-premierLeague .result-table-club:hover a {
  color: #121212;
  text-decoration: none;
}
/* line 868, ../sass/screen.scss */
#main .headlines {
  margin-top: 30px;
}
/* line 871, ../sass/screen.scss */
#main .headlines h2 {
  border-color: #dedede #dedede #eb6a14 transparent;
  border-style: solid;
  border-width: 1px 1px 3px 0;
  font-family: oregon;
  font-size: 1.14286em;
  font-weight: normal;
  line-height: 1;
  position: relative;
  margin-bottom: 30px;
}
/* line 881, ../sass/screen.scss */
#main .headlines h2 span {
  background: #eb6a14;
  color: #fff;
  display: inline-block;
  margin-top: -1px;
  padding: 11px 20px;
}
/* line 892, ../sass/screen.scss */
#main .headlines .content .content-item-img img {
  vertical-align: middle;
}
/* line 896, ../sass/screen.scss */
#main .headlines .content .content-item {
  margin-top: 30px;
}
/* line 899, ../sass/screen.scss */
#main .headlines .content .content-item-title {
  flex-basis: 66.66%;
  padding-left: 20px;
}
/* line 902, ../sass/screen.scss */
#main .headlines .content .content-item-title a {
  font-weight: 400;
  font-size: 1.14286em;
  font-family: oregon;
  color: #121212;
  line-height: 1.2;
}
/* line 910, ../sass/screen.scss */
#main .headlines .content .content-item-title a:hover {
  text-decoration: none;
  color: #eb6a14;
}
/* line 914, ../sass/screen.scss */
#main .headlines .content .content-item-title div p {
  margin-top: 10px;
  color: #eb6a14;
  font-size: 0.85714em;
}
/* line 923, ../sass/screen.scss */
#main .lastest-news {
  margin-top: 30px;
}
/* line 926, ../sass/screen.scss */
#main .lastest-news h2 {
  border-color: #dedede #dedede #eb6a14 transparent;
  border-style: solid;
  border-width: 1px 1px 3px 0;
  font-family: oregon;
  font-size: 1.14286em;
  font-weight: normal;
  line-height: 1;
  position: relative;
  margin-bottom: 30px;
}
/* line 936, ../sass/screen.scss */
#main .lastest-news h2 span {
  background: #eb6a14;
  color: #fff;
  display: inline-block;
  margin-top: -1px;
  padding: 11px 20px;
}
/* line 946, ../sass/screen.scss */
#main .lastest-news .content ul li {
  display: list-item;
  list-style: disc;
  margin: 0 0 0.25em 1.5em;
  padding: 0;
}
/* line 953, ../sass/screen.scss */
#main .lastest-news .content ul li a {
  font-family: oregon;
  color: #121212;
  line-height: 20px;
}
/* line 958, ../sass/screen.scss */
#main .lastest-news .content ul li a:hover {
  text-decoration: none;
  color: #eb6a14;
}
/* line 963, ../sass/screen.scss */
#main .lastest-news .content ul li::marker {
  color: #787878;
}
/* line 972, ../sass/screen.scss */
#main .trending {
  border: 5px solid #eb6a14;
  margin-top: 10px;
  padding: 0 30px 30px;
  text-align: center;
}
/* line 978, ../sass/screen.scss */
#main .trending h2 {
  margin-bottom: 70px;
  margin-top: -15px;
  padding-left: 0;
  position: relative;
  width: 100%;
  background-color: #eb6a14;
  border: none;
  color: #fff;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1.71429em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
/* line 994, ../sass/screen.scss */
#main .trending h2 span {
  display: block;
  color: #fff;
  margin-top: 0;
  padding: 20px 35px 0;
}
/* line 1001, ../sass/screen.scss */
#main .trending h2::before {
  border-color: #eb6a14 transparent;
  border-style: solid solid none;
  border-width: 30px 92px 0;
  bottom: -30px;
  content: "";
  display: inline-block;
  height: 0;
  left: 50%;
  margin-left: -90px;
  position: absolute;
  width: 0;
}
/* line 1015, ../sass/screen.scss */
#main .trending .content .trending-item {
  border-top: 1px solid #dedede;
  margin-top: 30px;
  padding-top: 30px;
}
/* line 1019, ../sass/screen.scss */
#main .trending .content .trending-item .trending-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1.14286em;
}
/* line 1023, ../sass/screen.scss */
#main .trending .content .trending-item .trending-title a {
  color: #121212;
  font-family: oregon;
  line-height: 23px;
}
/* line 1028, ../sass/screen.scss */
#main .trending .content .trending-item .trending-title a:hover {
  color: #eb6a14;
  text-decoration: none;
}
/* line 1033, ../sass/screen.scss */
#main .trending .content .trending-item .trending-body {
  font-size: 0.92857em;
}
/* line 1035, ../sass/screen.scss */
#main .trending .content .trending-item .trending-body p {
  line-height: 19px;
}
/* line 1040, ../sass/screen.scss */
#main .trending .content .trending-item:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
/* line 1045, ../sass/screen.scss */
#main .trending .content .trending-more-link {
  border-top: 1px solid #dedede;
  margin-top: 30px;
  padding-top: 30px;
  text-transform: uppercase;
  font-size: 0.85714em;
}
/* line 1052, ../sass/screen.scss */
#main .trending .content .trending-more-link a {
  background-color: transparent;
  color: #eb6a14;
  font-size: 1.71429em;
  font-weight: 400;
  padding: 2px 8px 2px;
  text-decoration: none;
}

/* line 1067, ../sass/screen.scss */
#panel-first .region-panel-first {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 1071, ../sass/screen.scss */
#panel-first .container {
  background: #fff;
}
/* line 1074, ../sass/screen.scss */
#panel-first h2 {
  border-color: #dedede #dedede #eb6a14 transparent;
  border-style: solid;
  border-width: 1px 1px 3px 0;
  font-family: oregon;
  font-size: 1.14286em;
  font-weight: normal;
  line-height: 1;
  position: relative;
  margin-bottom: 30px;
}
/* line 1084, ../sass/screen.scss */
#panel-first h2 span {
  background: #eb6a14;
  color: #fff;
  display: inline-block;
  margin-top: -1px;
  padding: 11px 20px;
}
/* line 1094, ../sass/screen.scss */
#panel-first .content .content-item .content-category {
  font-size: 1.57143em;
  font-weight: 500;
  font-family: titillium;
  line-height: 1;
  margin-bottom: 15px;
}
/* line 1101, ../sass/screen.scss */
#panel-first .content .content-item .content-category .name {
  border-left: 5px solid #2caaa6;
  padding-left: 10px;
}
/* line 1104, ../sass/screen.scss */
#panel-first .content .content-item .content-category .name a {
  color: #121212;
}
/* line 1107, ../sass/screen.scss */
#panel-first .content .content-item .content-category .name a:hover {
  color: #eb6b24;
  text-decoration: none;
}
/* line 1113, ../sass/screen.scss */
#panel-first .content .content-item .content-img {
  margin-bottom: 15px;
  position: relative;
}
/* line 1117, ../sass/screen.scss */
#panel-first .content .content-item .content-title {
  font-size: 1.28571em;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 5px;
}
/* line 1122, ../sass/screen.scss */
#panel-first .content .content-item .content-title a {
  color: #121212;
  font-family: oregon;
}
/* line 1126, ../sass/screen.scss */
#panel-first .content .content-item .content-title a:hover {
  color: #eb6a14;
  text-decoration: none;
}
/* line 1131, ../sass/screen.scss */
#panel-first .content .content-item .content-changed {
  margin-bottom: 15px;
  color: #eb6a14;
  display: block;
  font-size: 0.85714em;
}
/* line 1137, ../sass/screen.scss */
#panel-first .content .content-item .content-body {
  margin-bottom: 15px;
  line-height: 20px;
}
/* line 1144, ../sass/screen.scss */
#panel-first .owl-theme .owl-nav {
  margin-top: 0;
  position: absolute;
  top: -70px;
  right: 0;
}
/* line 1149, ../sass/screen.scss */
#panel-first .owl-theme .owl-nav button {
  width: 38px;
  height: 38px;
  background: #dedede;
  margin: 0;
  border-radius: 0;
  margin-left: 2px;
}
/* line 1157, ../sass/screen.scss */
#panel-first .owl-theme .owl-nav button:hover {
  background: #eb6b24;
}
/* line 1160, ../sass/screen.scss */
#panel-first .owl-theme .owl-nav button span {
  display: none;
}
/* line 1163, ../sass/screen.scss */
#panel-first .owl-theme .owl-nav button:first-child::before {
  content: "\f053";
  font-family: fontawesome;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
/* line 1170, ../sass/screen.scss */
#panel-first .owl-theme .owl-nav button:nth-child(2)::before {
  content: "\f054";
  font-family: fontawesome;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
/* line 1179, ../sass/screen.scss */
#panel-first .owl-theme .owl-dots {
  display: none;
}

/* line 1186, ../sass/screen.scss */
#panel-second .container {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 1190, ../sass/screen.scss */
#panel-second .container .region-panel-second {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 1193, ../sass/screen.scss */
#panel-second .container .region-panel-second h2 {
  font-size: 1.57143em;
  font-family: titillium;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 30px;
}
/* line 1200, ../sass/screen.scss */
#panel-second .container .region-panel-second .listing-team {
  background: #eee;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
}

/* line 1212, ../sass/screen.scss */
#panel-third .container {
  background: #fff;
}
/* line 1214, ../sass/screen.scss */
#panel-third .container .region-panel-third {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 1217, ../sass/screen.scss */
#panel-third .container .region-panel-third h2 {
  border-color: #dedede #dedede #eb6a14 transparent;
  border-style: solid;
  border-width: 1px 1px 3px 0;
  font-family: oregon;
  font-size: 1.14286em;
  font-weight: normal;
  line-height: 1;
  position: relative;
  margin-bottom: 30px;
}
/* line 1227, ../sass/screen.scss */
#panel-third .container .region-panel-third h2 span {
  background: #eb6a14;
  color: #fff;
  display: inline-block;
  margin-top: -1px;
  padding: 11px 20px;
}
/* line 1235, ../sass/screen.scss */
#panel-third .container .region-panel-third .content {
  position: relative;
}
/* line 1242, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-show .highlight-news-content {
  background-color: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #777777;
  padding: 30px;
  width: 30%;
  z-index: 5;
}
/* line 1253, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-show .highlight-news-content .highlight-news-title {
  font-weight: 400;
  font-size: 1.71429em;
  line-height: 1.1;
  margin-bottom: 10px;
}
/* line 1258, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-show .highlight-news-content .highlight-news-title a {
  color: #fff;
  font-family: "oregon", sans-serif;
}
/* line 1262, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-show .highlight-news-content .highlight-news-title a:hover {
  color: #eb6b24;
  text-decoration: none;
}
/* line 1267, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-show .highlight-news-content .highlight-news-changed {
  color: #eb6a14;
  display: block;
  font-size: 0.85714em;
  margin-bottom: 10px;
}
/* line 1273, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-show .highlight-news-content .highlight-news-body {
  font-size: 0.92857em;
  line-height: 19px;
}
/* line 1276, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-show .highlight-news-content .highlight-news-body p {
  margin-bottom: 10px;
}
/* line 1282, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10%;
  height: 100%;
  transform-origin: 0px 0px;
  transform: scale(1);
  background-color: #000;
}
/* line 1292, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .highlight-news-list {
  width: 100%;
  position: static;
}
/* line 1295, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .highlight-news-list button.slick-prev {
  background: #444;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  z-index: 5;
  position: absolute;
  top: 2%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, 0);
}
/* line 1309, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .highlight-news-list button.slick-arrow:hover {
  background: #eb6b24;
}
/* line 1312, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .highlight-news-list button.slick-prev::before {
  content: "\f106";
  font-family: fontawesome;
  color: #f3ffff;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
}
/* line 1320, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .highlight-news-list button.slick-next {
  background: #444;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  z-index: 5;
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translate(-50%, 0);
}
/* line 1334, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .highlight-news-list button.slick-next::before {
  content: "\f107";
  font-family: fontawesome;
  color: #f3ffff;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
}
/* line 1343, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .highlight-news-list {
  height: 80% !important;
  overflow: hidden;
}
/* line 1347, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .item {
  width: 100%;
  height: 60px;
  margin: 5px 5px 0;
  position: relative;
}
/* line 1353, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .item img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* line 1361, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .item:hover {
  border: 1px solid #fff;
}
/* line 1364, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .item-hover {
  display: none;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 96%;
  height: 96%;
  cursor: pointer;
  z-index: 10;
  box-sizing: content-box;
  background: url(../assets/images/t01.png) center repeat no-repeat;
  background-size: 100%;
  transition: all linear 0.3;
}
/* line 1382, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .item:hover .item-hover {
  display: block;
}
/* line 1386, ../sass/screen.scss */
#panel-third .container .region-panel-third .highlight-news-options .slick-current .item-hover {
  display: block;
}

/* line 1396, ../sass/screen.scss */
#panel-fourth .container {
  background: #fff;
  padding-top: 30px;
  position: relative;
  z-index: 2;
}
/* line 1403, ../sass/screen.scss */
#panel-fourth .region-panel-fourth {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 1406, ../sass/screen.scss */
#panel-fourth .region-panel-fourth h2 {
  border-color: #dedede #dedede #eb6a14 transparent;
  border-style: solid;
  border-width: 1px 1px 3px 0;
  font-family: oregon;
  font-size: 1.14286em;
  font-weight: normal;
  line-height: 1;
  position: relative;
  margin-bottom: 30px;
}
/* line 1416, ../sass/screen.scss */
#panel-fourth .region-panel-fourth h2 span {
  background: #eb6a14;
  color: #fff;
  display: inline-block;
  margin-top: -1px;
  padding: 11px 20px;
}
/* line 1426, ../sass/screen.scss */
#panel-fourth .content .video-item {
  margin-bottom: 30px;
}
/* line 1430, ../sass/screen.scss */
#panel-fourth .content .video-item:hover .video a::before {
  opacity: 0;
}
/* line 1434, ../sass/screen.scss */
#panel-fourth .content .video-item:hover .video-title {
  opacity: 0;
}
/* line 1440, ../sass/screen.scss */
#panel-fourth .content .video a::before {
  content: "\f04b";
  background: #dd453a;
  color: #fff;
  border-radius: 8px;
  display: inline-block;
  font-family: fontawesome;
  font-style: normal;
  font-weight: normal;
  font-size: 1.21429em;
  height: 35px;
  width: 50px;
  text-align: center;
  line-height: 2;
  margin-left: -25px;
  margin-top: -17px;
  padding-left: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
}
/* line 1467, ../sass/screen.scss */
#panel-fourth .content .video-title {
  background-color: #000;
  margin-bottom: 0;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  min-height: 70px;
  line-height: 18px;
  transition: all 0.3s ease;
  z-index: 1;
}
/* line 1480, ../sass/screen.scss */
#panel-fourth .content .video-title a {
  color: #fff;
  font-family: oregon;
}
/* line 1485, ../sass/screen.scss */
#panel-fourth .content .video-title:hover {
  background-color: #eb6a14;
}

/* line 1492, ../sass/screen.scss */
#panel-fifth {
  z-index: -1 !important;
  background-color: #121212;
  border-top: 10px solid #eb6a14;
  font-size: 0.92857em;
  margin-top: -80px;
  padding-top: 120px;
  position: relative;
}
/* line 1494, ../sass/screen.scss */
#panel-fifth .container {
  padding: 0;
  padding-bottom: 40px;
}
/* line 1508, ../sass/screen.scss */
#panel-fifth .region h2 {
  color: #f5f5f5;
  font-weight: 300;
  font-size: 1.42857em;
  font-family: titillium;
  margin-bottom: 10px;
  line-height: 22px;
}
/* line 1520, ../sass/screen.scss */
#panel-fifth .region-panel-fifth-1 ul,
#panel-fifth .region-panel-fifth-2 ul,
#panel-fifth .region-panel-fifth-3 ul {
  margin: 0 0 30px;
  padding-left: 0;
}
/* line 1523, ../sass/screen.scss */
#panel-fifth .region-panel-fifth-1 ul li,
#panel-fifth .region-panel-fifth-2 ul li,
#panel-fifth .region-panel-fifth-3 ul li {
  list-style: none;
  margin: 0 0 5px;
}
/* line 1526, ../sass/screen.scss */
#panel-fifth .region-panel-fifth-1 ul li a,
#panel-fifth .region-panel-fifth-2 ul li a,
#panel-fifth .region-panel-fifth-3 ul li a {
  text-decoration: none;
  color: #999;
  font-family: oregon;
  font-size: 13px;
  line-height: 19px;
}
/* line 1533, ../sass/screen.scss */
#panel-fifth .region-panel-fifth-1 ul li a:hover,
#panel-fifth .region-panel-fifth-2 ul li a:hover,
#panel-fifth .region-panel-fifth-3 ul li a:hover {
  color: #337ab7;
}
/* line 1541, ../sass/screen.scss */
#panel-fifth .region-panel-fifth-4 ul,
#panel-fifth .region-panel-fifth-5 ul {
  margin: 0 0 30px;
  padding-left: 0;
}
/* line 1544, ../sass/screen.scss */
#panel-fifth .region-panel-fifth-4 ul li,
#panel-fifth .region-panel-fifth-5 ul li {
  list-style: none;
  margin: 0 0 5px;
}
/* line 1547, ../sass/screen.scss */
#panel-fifth .region-panel-fifth-4 ul li a,
#panel-fifth .region-panel-fifth-5 ul li a {
  text-decoration: none;
  color: #787878;
  font-family: opensans;
  font-size: 13px;
  line-height: 19px;
}
/* line 1554, ../sass/screen.scss */
#panel-fifth .region-panel-fifth-4 ul li a:hover,
#panel-fifth .region-panel-fifth-5 ul li a:hover {
  color: #337ab7;
}
/* line 1560, ../sass/screen.scss */
#panel-fifth .connect p {
  margin-bottom: 15px;
}
/* line 1563, ../sass/screen.scss */
#panel-fifth .social-list {
  list-style: none;
  margin: 0 -5px;
  padding: 0;
}
/* line 1567, ../sass/screen.scss */
#panel-fifth .social-list li {
  display: inline-block;
  padding-right: 10px;
}
/* line 1571, ../sass/screen.scss */
#panel-fifth .social-list a {
  color: #fff;
  display: inline-block;
  border: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  text-align: center;
  width: 50px;
  position: relative;
  line-height: 40px;
}
/* line 1582, ../sass/screen.scss */
#panel-fifth .social-list a::before {
  color: #fff;
  font-size: 1.71429em;
  line-height: 40px;
}
/* line 1587, ../sass/screen.scss */
#panel-fifth .social-list a:hover {
  background-color: #2caaa6;
}
/* line 1590, ../sass/screen.scss */
#panel-fifth .social-list .fa {
  font: normal normal normal 14px/1 fontawesome;
}
/* line 1592, ../sass/screen.scss */
#panel-fifth .social-list .fa span {
  display: none;
}

/* line 1600, ../sass/screen.scss */
#footer {
  background-color: #121212;
  font-size: 0.92857em;
}
/* line 1603, ../sass/screen.scss */
#footer a {
  color: #999;
  font-size: 13px;
  line-height: 19px;
}
/* line 1608, ../sass/screen.scss */
#footer a:hover {
  color: #2caaa6;
  text-decoration: none;
}
/* line 1613, ../sass/screen.scss */
#footer .container {
  border-top: 1px solid #222;
  padding: 30px 0 30px;
}
/* line 1617, ../sass/screen.scss */
#footer .copyright {
  margin-bottom: 15px;
  padding-right: 0;
}
/* line 1620, ../sass/screen.scss */
#footer .copyright p {
  font-size: 13px;
  line-height: 19px;
}
/* line 1626, ../sass/screen.scss */
#footer .menu-footer ul {
  float: right;
}
/* line 1629, ../sass/screen.scss */
#footer .menu-footer li {
  background: none;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-left: 20px;
}
/* line 1636, ../sass/screen.scss */
#footer .menu-footer .active a {
  color: #2caaa6;
}

/* line 1641, ../sass/screen.scss */
.btn-btt {
  background: #ccc;
  border-radius: 50%;
  bottom: 55px;
  height: 50px;
  position: fixed;
  text-indent: -9999px;
  right: 20px;
  width: 50px;
  z-index: 9999;
}

/* line 1652, ../sass/screen.scss */
.btn-btt:hover {
  background: #2caaa6;
}

/* line 1655, ../sass/screen.scss */
.btn-btt::after {
  color: #fff;
  content: "\f062";
  display: inline-block;
  font-family: fontawesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  font-size: 1.42857em;
  left: 0;
  line-height: 50px;
  position: absolute;
  top: 0;
  text-indent: 0;
  text-align: center;
  width: 100%;
}
